:root {
    --color-1: #59118e;
    --color-2: #7a41a5;
    --color-3: #9b70bb;
    --color-4: #bda0d2;
    --color-5: #decfe8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#app {
    display: grid;
    grid-template-areas: 
        "nav nav"
        "sidebar content"
        "email contact"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 40px;
    background-color: #decfe8;
}

.nav {
    grid-area: nav;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0,0,0,.1);
    background-color: white;
}

.nav__item {
    text-decoration: none;
    margin: 0 1rem;
    font-size: 16px;
    text-transform: uppercase;
    color: #59118e;
    position: relative;
    letter-spacing: 1px;
}

.nav__item::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: var(--color-1);
    transition: .2s;
}

.nav__item:hover::after {
    width: 100%;
}

.aside {
    grid-area: sidebar;
    margin-left: 1rem;
    background-color: white;
    border-radius: .25rem;
    box-shadow: 0px 2px 2px rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 2rem;
}

.aside__item{
    display: block;
    text-decoration: none;
    font-size: 18px;
    padding: 1rem 0;
    color: var(--color-1);
    transition: .2s;
}

.aside__item:hover {
    background-color: #decfe8;
    opacity: .5;
}

.aside__item i {
    margin-right: 1rem;
    font-size: 24px;
}

.section {
    grid-area: content;
    margin-right: 40px;
}

.article {
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0,0,0,.1);
    padding: 2rem;
    border-radius: .25rem;
    cursor: pointer;
}

.article__title {
    font-size: 24px;
    opacity: .7;
    margin-bottom: .75rem;
    color: var(--color-1);
}

.article__text {
    font-size: 14px;
    letter-spacing: 1px;
    opacity: .5;
    margin-bottom: 1rem;
    color: var(--color-3);
}

.btn__row {
    display: flex;
    justify-content: flex-end;
}

.btn {
    border: 1px solid var(--color-1);
    border-radius: .25rem;
    background-color: transparent;
    padding: .5rem .75rem;
    color: var(--color-1);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-1);
    color: white;
}

.email {
    grid-area: email;
    margin-left: 1rem;
    text-align: center;
    background-color: white;
    border-radius: .25rem;
    padding: 2rem;
    box-shadow: 0px 2px 2px rgba(0,0,0,.1);
}

.email p {
    color: gray;
    text-transform: uppercase;
}

.email input {
    width: 100%;
    margin: .75rem 0;
    padding: .5rem .75rem;
    border: 1px solid gray;
    outline: none;
    border-radius: .25rem;
    color: rgb(61, 61, 61);
}

.email input:focus {
    border-color: rgb(136, 85, 136);
}

.email__button {
    display: block;
    width: 100%;
}

.social {
    grid-area: contact;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0,0,0,.1);
    border-radius: .25rem;
    margin-right: 40px;
}

.social p {
    font-size: 24px;
    color: gray;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.social div i {
    margin: 0 1rem;
    font-size: 24px;
    padding: .75rem;
    border: 1px solid gray;
    border-radius: .5rem;
    transition: .2s;
}

.fa-facebook {
    color: #3b5998;
}

.fa-facebook:hover {
    color: white;
    background-color: #3b5998;
    border-color: #3b5998;

}

.fa-codepen {
    color: black;
}

.fa-codepen:hover {
    color: white;
    background-color: black;
    border-color: black;

}

.fa-twitter {
    color: #1DA1F2;
}

.fa-twitter:hover {
    color: white;
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}

.fa-instagram {
    color: #E1306C;
}

.fa-instagram:hover {
    color: white;
    background: #E1306C;
    border-color: #E1306C;
}

.fa-google {
    color: #DB4437;
}

.fa-google:hover {
    color: white;
    background-color: #DB4437;
    border-color: #DB4437;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 1rem 0;
}

@media screen and (max-width: 1000px) {
    #app {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nav nav"
        "content content"
        "email contact"
        "footer footer"
        ;
    }
    .aside {
        display: none;
    }

    .section {
        margin-left: 40px;
    }

    .text--one {
        display: none;
    }

    .article:nth-child(4) {
        margin-bottom: 0rem;
    }

    .email {
        margin-left: 40px;
    }

    .social {
        padding: 2rem 0;
    }

    .social p {
        font-size: 20px;
    }

    .social div i {
        margin: 0 .5rem;
        font-size: 20px;
        padding: .5rem;
    }
}

@media screen and (max-width: 800px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nav"
        "content"
        "contact"
        "email"
        "footer"
        ;
    }

    .email {
        margin-right: 40px;
    }

    .social {
        margin-left: 40px;
    }
}