<nav class="bg-slate-800 w-full px-6 py-2">
    <div class="flex justify-between items-center">
        <div class="flex gap-x-4 items-center">
            <img src="{{ url_for('static', filename='/img/logo.png') }}" alt="Logo Image DefenceTurk"
                class="w-[64px]" />
            <h1 class="text-white text-xl font-bold uppercase">DefenceTURK</h1>
        </div>
        <div class="flex items-center gap-x-8">
            <a href="/" class="text-white
            font-medium text-base"><i class="fa-solid fa-house mr-2"></i> Anasayfa</a>
            <a href="http://www.defenceturk.com/index.php" class="text-white
            font-medium text-base"><i class="fa-solid fa-arrow-up-right-from-square mr-2"></i> Siteye Git</a>
            <a class="text-white font-medium text-base" href="/about"><i class="fa-solid fa-info mr-2"></i> Hakkında</a>
        </div>
    </div>
</nav>